<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="restassuredtestcases">
	<listeners>
		<listener class-name="com.test.utils.ExtentReportListener" />
	</listeners>

	<test name="testemployeeAPIs">
		<classes>
			<class name="com.test.scripts.GetAllEmployees" />
			<class name="com.test.scripts.GetSingleEmployeeData" />
			<class name="com.test.scripts.PostCreateNewUser" />
			<class name="com.test.scripts.PutUpdateExisitingUser" />
			<class name="com.test.scripts.DeleteEmployee" />
		</classes>
	</test>


</suite>